{% set birthday_options = {'whatever':  'Неважно',  'before': 'Неделя до', 'after': 'Неделя после', 'always': 'Неделя до, неделя после'} %}
{% set has_phone_options = {'whatever':  'Неважно',  'exists':  'Должен быть',  'empty': 'Не должно быть'} %}
{% set gender_options = {'whatever':  'Неважно',  'f': 'Женский', 'm': 'Мужской'} %}

<form class="form-horizontal" action="/{{ entity }}/edit{{ id ? '/' ~ id : '' }}" method="post">
    <div class="form-group">
        <label for="inputServices" class="col-sm-3 control-label">Услуги</label>

        <div class="col-sm-9">
            <select class="form-control chosen" name="service[]" multiple="multiple">
                {% set selected = data.service_json | json_decode %}
                {% for service in services %}
                    <option value="{{ service.service_id }}"{% if service.service_id in selected %} selected="selected"{% endif %}>{{ service.title }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="inputBirthday" class="col-sm-3 control-label">День&nbsp;рождения</label>

        <div class="col-sm-9">
            <select id="inputBirthday" class="form-control" name="birthday">
                {% for value, option in birthday_options %}
                    <option value="{{ value }}"{% if value == data.birthday %} selected="selected"{% endif %}>{{ option }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="inputHasPhone" class="col-sm-3 control-label">Телефон</label>

        <div class="col-sm-9">
            <select id="inputHasPhone" class="form-control" name="has_phone">
                {% for value, option in has_phone_options %}
                    <option value="{{ value }}"{% if value == data.has_phone %} selected="selected"{% endif %}>{{ option }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="inputPhoneEnds" class="col-sm-3 control-label">Цифры</label>

        <div class="col-sm-9">
            <input type="text" class="form-control" id="inputLast4" name="phone_ends" value="{{ data.phone_ends }}" placeholder="Последние 4 цифры телефона">
        </div>
    </div>
    <div class="form-group">
        <label for="inputGender" class="col-sm-3 control-label">Пол</label>

        <div class="col-sm-9">
            <select id="inputGender" class="form-control" name="gender">
                {% for value, option in gender_options %}
                    <option value="{{ value }}"{% if value == data.gender %} selected="selected"{% endif %}>{{ option }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="inputFrom" class="col-sm-3 control-label">Начало</label>

        <div class="col-sm-9">
            <input type="text" class="form-control datepicker" id="inputFrom" name="date_from" value="{{ data.ru_date_from }}" placeholder="Дата начала">
        </div>
    </div>
    <div class="form-group">
        <label for="inputTo" class="col-sm-3 control-label">Окончание</label>

        <div class="col-sm-9">
            <input type="text" class="form-control datepicker" id="inputTo" name="date_to" value="{{ data.ru_date_to }}" placeholder="Дата окончания">
        </div>
    </div>
    <div class="form-group">
        <label for="inputAmount" class="col-sm-3 control-label">Скидка</label>

        <div class="col-sm-9">
            <input type="text" class="form-control" id="inputAmount" name="amount" value="{{ data.amount }}" placeholder="Процент скидки"
                   data-rule-required="true" data-msg-required="Необходимо указать скидку" data-rule-min="1" data-msg-min="Скидка должна быть больше 0"
                   data-rule-max="100" data-msg-max="Скидка не может быть больше 100">
        </div>
    </div>
    {% include 'admin/button.twig' %}
</form>

{% block script %}
    <link href="{{ base_url() }}/bower_components/chosen/chosen.min.css" rel="stylesheet">
    <link href="{{ base_url() }}/bower_components/chosen-bootstrap/chosen.bootstrap.min.css" rel="stylesheet">
    <script src="{{ base_url() }}/bower_components/chosen/chosen.jquery.min.js"></script>

    <script>
        $(document).ready(function () {
            $(".chosen").chosen({
                placeholder_text_multiple: 'Выберите услуги'
            });

        });
    </script>
{% endblock %}