{% set birthday_options = {'whatever':  'Неважно',  'before': 'Неделя до', 'after': 'Неделя после', 'always': 'Неделя до, неделя после'} %}
{% set has_phone_options = {'whatever':  'Неважно',  'exists':  'Должен быть',  'empty': 'Не должно быть'} %}
{% set gender_options = {'whatever':  'Неважно',  'f': 'Женский', 'm': 'Мужской'} %}