{% set birthday_options = {'whatever':  'Неважно',  'before': 'Неделя до', 'after': 'Неделя после', 'always': 'Неделя до, неделя после'} %}
{% set has_phone_options = {'whatever':  'Неважно',  'exists':  'Должен быть',  'empty': 'Не должно быть'} %}
{% set gender_options = {'whatever':  'Неважно',  'f': 'Женский', 'm': 'Мужской'} %}

{% if rows %}
    <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
        <thead>
        <tr>
            <th>Услуги</th>
            <th>День рождения</th>
            <th>Телефон</th>
            <th>Последние 4 цифры телефона</th>
            <th>Пол</th>
            <th>Дата начала</th>
            <th>Дата окончания</th>
            <th>Процент</th>
        </tr>
        </thead>
        <tbody>
        {% for id, row in rows %}
            <tr class="{{ id % 2 ? 'odd' : 'even' }} gradeX" data-target="/discount/edit/{{ row.discount_id }}">
                <td>{{ row.services | json_decode | join(', ') }}</td>
                <td>{{ birthday_options[row.birthday] }}</td>
                <td>{{ has_phone_options[row.has_phone] }}</td>
                <td>{{ row.phone_ends }}</td>
                <td>{{ gender_options[row.gender] }}</td>
                <td>{{ row.ru_date_from }}</td>
                <td>{{ row.ru_date_to }}</td>
                <td>{{ row.amount }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <h4>Скидок не найдено</h4>
{% endif %}