<div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
        {% if id %}
            <a class="btn btn-danger" href="/{{ entity }}/delete/{{ id }}">
                <span class="glyphicon glyphicon-trash"></span> Удалить</a>
        {% endif %}

        <button type="submit" class="btn btn-primary"></span>
            <span class="glyphicon glyphicon-floppy-save"></span> Сохранить
        </button>
    </div>
</div>