{% extends 'layout/layout.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">

            <div class="panel panel-body">

                {% include entity ~ '/form.twig' %}

            </div>
        </div>
    </div>
{% endblock %}