{% extends 'layout/layout.twig' %}

{% block head %}

    {{ parent() }}
    <!-- DataTables CSS -->
    <link href="{{ base_url() }}/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="{{ base_url() }}/bower_components/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <!-- DataTables JavaScript -->
    <script src="{{ base_url() }}/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="{{ base_url() }}/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="{{ base_url() }}/bower_components/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="{{ base_url() }}/bower_components/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>


    <link href="{{ base_url() }}/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" media="screen" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="{{ base_url() }}/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="{{ base_url() }}/bower_components/bootstrap-datepicker/dist/locales/bootstrap-datepicker.ru.min.js"></script>
    <script type="text/javascript" src="{{ base_url() }}/bower_components/jquery-validation/dist/jquery.validate.min.js"></script>

{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">

            <div class="lead clearfix">
                <a id="newEntity" href="/{{ entity }}/edit" class="btn btn-lg btn-success pull-right">
                    <span class="glyphicon glyphicon-plus"></span> Новая запись </a>
                {% include 'admin/nav.twig' %}
            </div>

            <div class="panel panel-body">

                {% include entity ~ '/table.twig' %}

            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"></h4>
                </div>
                <div class="modal-body">
                    ...
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>

        function loadForm(modal, url, title) {
            var dialog = $(modal);
            dialog.find('.modal-title').text(title);
            $.get(url)
                    .done(function (data) {
                        dialog.find('.modal-body').html(data);
                        dialog.modal('show');
                    })
                    .fail(function () {
                        alert("error");
                    });
        }

        $(document).ready(function () {
            $('#dataTables-example').DataTable({
                responsive: true,
                language: {
                    "processing": "Подождите...",
                    "search": "Поиск:",
                    "lengthMenu": "Показать _MENU_ записей",
                    "info": "Записи с _START_ до _END_ из _TOTAL_ записей",
                    "infoEmpty": "Записи с 0 до 0 из 0 записей",
                    "infoFiltered": "(отфильтровано из _MAX_ записей)",
                    "infoPostFix": "",
                    "loadingRecords": "Загрузка записей...",
                    "zeroRecords": "Записи отсутствуют.",
                    "emptyTable": "В таблице отсутствуют данные",
                    "paginate": {
                        "first": "Первая",
                        "previous": "Предыдущая",
                        "next": "Следующая",
                        "last": "Последняя"
                    },
                    "aria": {
                        "sortAscending": ": активировать для сортировки столбца по возрастанию",
                        "sortDescending": ": активировать для сортировки столбца по убыванию"
                    }
                }
            });

            $('tr.gradeX').on('touchstart click', function (event) {
                var url;
                var target = $(event.target);
                if (target[0].nodeName == 'A'
                        || target.parent()[0].nodeName == 'A'
                        || target.parent()[0].type == 'checkbox') {
                    return true;
                }
                url = $(this).closest('tr').data('target');
                loadForm('#myModal', url, 'Редактирование');
            });

            $('#newEntity').click(function (e) {
                e.preventDefault();
                loadForm('#myModal', $(this).attr('href'), 'Добавление');
            });

            $('#myModal').on('shown.bs.modal', function () {

                $('.datepicker').datepicker({
                    language: 'ru',
                    dateFormat: 'yyyy-mm-dd',
                    autoclose: true
                });
                $('form').validate({
                    highlight: function (element) {
                        $(element).closest('.form-group').addClass('has-error');
                    },
                    unhighlight: function (element) {
                        $(element).closest('.form-group').removeClass('has-error');
                    },
                    errorElement: 'span',
                    errorClass: 'help-block',
                    errorPlacement: function (error, element) {
                        if (element.parent('.input-group').length) {
                            error.insertAfter(element.parent());
                        } else {
                            error.insertAfter(element);
                        }
                    }
                });
            })

        });
    </script>
{% endblock %}