<ul class="nav nav-pills">
    <li role="presentation"><a href="/">Главная</a></li>
    <li role="presentation"{% if entity == 'discount' %} class="active"{% endif %}><a href="/discount">Скидки</a></li>
    <li role="presentation"{% if entity == 'service' %} class="active"{% endif %}><a href="/service">Услуги</a></li>
</ul>