<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% endblock %}</title>
    <!-- Le styles -->
    <link href="{{ base_url() }}/bower_components/bootstrap/dist/css/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css">
    <link href="{{ base_url() }}/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" media="screen" rel="stylesheet" type="text/css">
    <link href="{{ base_url() }}/bower_components/startbootstrap-sb-admin-2/dist/css/sb-admin-2.css" media="screen" rel="stylesheet" type="text/css">
    <link href="{{ base_url() }}/css/style.css" media="screen" rel="stylesheet" type="text/css">
    <link href="{{ base_url() }}/img/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">
    <link href="{{ base_url() }}/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Scripts -->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="{{ base_url() }}/js/html5shiv.min.js"></script><![endif]-->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="{{ base_url() }}/js/respond.min.js"></script><![endif]-->
    <script type="text/javascript" src="{{ base_url() }}/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="{{ base_url() }}/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    {% block head %}{% endblock %}
</head>

<body>

{% block body %}{% endblock %}

{% block script %}{% endblock %}

</body>

</html>