<form class="form-horizontal" action="/{{ entity }}/edit{{ id ? '/' ~ id : '' }}" method="post">
    <div class="form-group">
        <label for="inputTitle" class="col-sm-3 control-label">Название</label>

        <div class="col-sm-9">
            <input type="text" class="form-control" id="inputTitle" name="title" value="{{ data.title }}" placeholder="Услуга">
        </div>
    </div>
    {% include 'admin/button.twig' %}
</form>