{% if rows %}
    <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
        <thead>
        <tr>
            <th>Название</th>
        </tr>
        </thead>
        <tbody>
        {% for id, row in rows %}
            <tr class="{{ id % 2 ? 'odd' : 'even' }} gradeX" data-target="/service/edit/{{ row.service_id }}">
                <td>{{ row.title }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <h4>Услуг не найдено</h4>
{% endif %}