{% extends 'layout/layout.twig' %}

{% block title %}Скидки на услуги{% endblock %}

{% block head %}

    {{ parent() }}
    <link href="{{ base_url() }}/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" media="screen" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="{{ base_url() }}/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="{{ base_url() }}/bower_components/bootstrap-datepicker/dist/locales/bootstrap-datepicker.ru.min.js"></script>
    <script type="text/javascript" src="{{ base_url() }}/bower_components/jquery-validation/dist/jquery.validate.min.js"></script>

{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Форма заказа</h3>
                </div>
                <div class="panel-body">
                    {% if amount %}
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        Ваша скидка составит {{ amount ~ ' ' ~ amount | plural('процент', 'процента', 'процентов') }}
                    </div>
                    {% endif %}
                    <form role="form" method="post" action="">
                        <fieldset>
                            <div class="form-group">
                                <label for="inputName">ФИО</label>
                                <input type="text" class="form-control" id="inputName" name="name" value="{{ params.name }}" placeholder="Фамилия Имя Очество"
                                       data-rule-required="true" data-msg-required="Необходимо заполнить ФИО">
                            </div>
                            {% if services %}
                                <div class="form-group">
                                    <label>Услуги</label>
                                    {% for service in services %}
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="service[]"
                                                       value="{{ service.service_id }}"{% if service.service_id in params.service %} checked="checked"{% endif %}> {{ service.title }}
                                            </label>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            <div class="form-group">
                                <label for="inputBirthday">День рождения</label>
                                <input type="text" class="form-control datepicker" id="inputBirthday" name="birthday" value="{{ params.birthday }}"
                                       placeholder="ДД-ММ-ГГГГ" data-rule-required="true" data-msg-required="Необходимо заполнить дату рождения">
                            </div>
                            <div class="form-group">
                                <label for="inputPhone">Телефон</label>
                                <input type="text" class="form-control" id="inputPhone" name="phone" value="{{ params.phone }}"
                                       placeholder="+7 (777) 777-77-77">
                            </div>
                            <div class="form-group">
                                <label>Пол</label>
                                <label class="checkbox-inline">
                                    <input type="radio" name="gender" value="f"{% if not params.gender or params.gender == 'f' %} checked="checked"{% endif %}>
                                    Женский
                                </label>
                                <label class="checkbox-inline">
                                    <input type="radio" name="gender" value="m"{% if params.gender == 'm' %} checked="checked"{% endif %}> Мужской
                                </label>
                            </div>
                            <button role="submit" class="btn btn-default">Расчитать</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <span class="pull-right"><a href="/discount">Настройки</a></span>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        $(function () {
            $('.datepicker').datepicker({
                language: 'ru',
                dateFormat: 'yyyy-mm-dd',
                autoclose: true
            });
            $('form').validate({
                highlight: function (element) {
                    $(element).closest('.form-group').addClass('has-error');
                },
                unhighlight: function (element) {
                    $(element).closest('.form-group').removeClass('has-error');
                },
                errorElement: 'span',
                errorClass: 'help-block',
                errorPlacement: function (error, element) {
                    if (element.parent('.input-group').length) {
                        error.insertAfter(element.parent());
                    } else {
                        error.insertAfter(element);
                    }
                }
            });
        });
    </script>
{% endblock %}